<div class="tree-select-container">
  <!-- Srech -->
  @if (showSearch) {
    <div class="search-container">
      <input
        #searchInput
        type="text"
        placeholder="Search..."
        class="search-input"
      />
    </div>
  }
  <!-- Selected items display -->
  @if (multiSelect && selectedNodes.length > 0) {
    <div class="selected-items">
      {{ selectedNodesName }}
    </div>
  }

  <div class="tree-container">
    <ul class="tree-list">
      @for (node of treeData; track node.id) {
        <app-tree-node
          [node]="node"
          [multiSelect]="multiSelect"
          (expandToggle)="toggleExpand($event)"
          (selectionChange)="toggleSelection($event)"
        >
        </app-tree-node>
      }
    </ul>
  </div>
  <button [disabled]="!selectedNodesName.length" (click)="onSendSelected()">
    Send
  </button>
</div>
